*{
    margin: 0;
    padding: 0;
}

.playground{
    height: 80vh;
    width: 80vw;
    cursor: url("./stick.png"),none;
}
.green{
    margin-top: 10vh;
    margin-left: 10vw;
    background: rgb(0, 206, 69);
}